<!DOCTYPE html>
<html>

<head>
    <script src="../resources/jquery-3.4.1.min.js"></script>
    <script src="../resources/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    </link>
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    </link>
    <link rel="stylesheet" type="text/css" href="../resources/fontawesome-free-5.12.1-web/css/all.min.css">
    </link>
</head>

<body>
    <div class="main-wrapper">
        <div class="left-bar d-flex flex-column">
            <img class="logo" src="../resources/images/logo.png" alt="">
            <span class="flex-grow-1"></span>
            <div class="text-center p-3">
                <i class="far fa-user-circle"></i>
            </div>
            <div class="text-center p-3">
                <i class="far fa-question-circle"></i>
            </div>
        </div>
        <div class="main-content">
            <div class="d-flex flex-column h-100">
                <div class="bread-crumb">
                    Home / Cruises
                </div>
                <div class="page-content flex-grow-1">
                    <div class="cruise-mini-card d-flex mt-5">
                        <img src="../resources/images/route1_mini.png" alt="">
                        <div class="d-flex flex-column px-5 flex-grow-1">
                            <div>Sailing to</div>
                            <h5>
                                Dawes Glacier, Alaska | Skagway, Alaska | Juneau, Alaska | Ketchikan, Alaska</h5>
                            <span class="flex-grow-1"></span>
                            <div class="d-flex">
                                <h4>Starting from <b>$3500 CAD</b></h4>
                                <span class="flex-grow-1"></span>
                                <button type="button" class="btn">SELECT</button>
                            </div>

                        </div>
                    </div>
                    <div class="cruise-mini-card d-flex mt-5">
                        <img src="../resources/images/route1_mini.png" alt="">
                        <div class="d-flex flex-column px-5 flex-grow-1">
                            <div>Sailing to</div>
                            <h5>
                                Dawes Glacier, Alaska | Skagway, Alaska | Juneau, Alaska | Ketchikan, Alaska</h5>
                            <span class="flex-grow-1"></span>
                            <div class="d-flex">
                                <h4>Starting from <b>$3500 CAD</b></h4>
                                <span class="flex-grow-1"></span>
                                <button type="button" class="btn">SELECT</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>