<!DOCTYPE html>
<html>

<head>
    <script src="../resources/jquery-3.4.1.min.js"></script>
    <script src="../resources/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    </link>
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    </link>
    <link rel="stylesheet" type="text/css" href="../resources/fontawesome-free-5.12.1-web/css/all.min.css">
    </link>
</head>

<body>
    <div class="vh-100 vw-100 login-wrapper row">
        <div class="col h-100 d-flex align-items-center justify-content-center">
            <img src="../resources/images/logo.png" alt="">
        </div>
        <div class="col h-100 right-content align-items-center justify-content-center d-flex flex-column">
            <h1 class="mb-5">SIGNUP</h1>
            <div class="form-group mb-5">
                <input type="email" class="form-control" placeholder="Enter Your Email">
            </div>
            <div class="form-group mb-5">
                <input type="password" class="form-control" placeholder="Enter Your Password">
            </div>
            <button type="button" class="btn">SIGN UP</button>
            <hr class="m-5" style="width: 30%;">
            <button type="button" class="btn">GO TO LOGIN</button>
        </div>
    </div>
</body>

</html>